.project-23{
    font-size: x-large;
    background-color: #161e2c;
}

.img-projects{
    margin-left: auto;
    margin-right: auto;
    border: solid #42d32e;
}

.project-24{
    font-size: x-large;
    background-color: #161e2c;
}
