.left-info-box {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #161e2c;
  border-radius: 1rem;
}

.left-title {
  font-size: xx-large;
}

.left-box-text {
  font-size: larger;
}

.right-info-box {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #161e2c;
  border-radius: 1rem;
}

.right-title {
  font-size: xx-large;
}

.right-box-text {
  font-size: larger;
}

.main {
  display: flex;
  flex-direction: row;
}

.team-photo {
  width: 70%;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: solid #42d32e;
}

.page-box {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  background-color: #161e2c;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
}
.page-box-h1 {
  padding: 1rem;
}
.page-box-a {
  padding: 1rem;
}


@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    text-align: center;
  }
  .left-box-text {
    font-size: medium;
    margin: 0.5rem;
  }
  .right-box-text {
    font-size: medium;
    margin: 0.5rem;
  }
  .right-title {
    font-size: xx-large;
  }
  .left-title {
    font-size: xx-large;
  }
  .team-photo {
    width: 100%;
    border-radius: 1rem;
  }
  .page-box {
    font-size: large;
  }
  .page-box-h1 {
    padding: 0.5rem;
  }
  .page-box-a {
    padding: 0.5rem;
  }
}
