.left-info-box {
  background-color: #161e2c;
}

.left-title {
  font-size: xx-large;
}

.left-box-text {
  font-size: larger;
  max-width: 75rem;
}

.right-info-box {
  background-color: #161e2c;
}

.right-title {
  font-size: xx-large;
}

.right-box-text {
  font-size: larger;
  max-width: 75rem;
}

.page-box {
  font-size: x-large;
  background-color: #161e2c;
}

.page-box-h1 {
  padding: 1rem;
}

.page-box-a {
  padding: 1rem;
}

.img-logo{
  margin: auto;
  width: 17.5rem;
  height: 17.5rem;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
    text-align: center;
  }
  .left-box-text {
    font-size: medium;
    margin: 0.5rem;
  }
  .right-box-text {
    font-size: medium;
    margin: 0.5rem;
  }
  .right-title {
    font-size: xx-large;
  }
  .left-title {
    font-size: xx-large;
  }
  .page-box {
    font-size: large;
  }
  .page-box-h1 {
    padding: 0.5rem;
  }
  .page-box-a {
    padding: 0.5rem;
  }
  .img-logo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
