.members{
    display: block;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
    background-color: #161e2c;
    border-radius: 1rem;
    font-size: xx-large;
}
.member-line{
    padding: 1rem;
}

@media only screen and(max-width: 600px){
    .members{
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: large;
    }
    .member-line{
        padding: 0.5rem;
    }
}